<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Try Again</title>
</head>
<body>
    A user with that username already exists. 
    <a href="/signup">Sign Up</a>
</body>
</html>
