<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Terps Exercise Logger</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="header">
    <h1>Terps Exercise Logger</h1>
    <hr class="hbreak">
    <h1><strong>Welcome to Terps Exercise Logger</strong></h1>
    <br>
  </div>
  <br>
    <fieldset>
      <h2><strong>Begin Workout</strong></h2>
      <h2><strong>Click here to search for an exercise: <a href="/exercise">Exercise Search</a></strong></h2>
      
      <h2><strong>Click here to track your workout today: <a href="/exerciseLogger">Exercise Logger</a></strong></h2>
  
      <h2><strong>Review your exercise history here: <a href="/history">History</a></strong></h2>
    </fieldset>
    
    <hr>
    <br>
    <div class="page">
      <table style="border: 1em">
        <caption><strong><em>How to use this exercise logger</em></strong></caption>
        <tr>
            <th>Features:</th>
            <td>
              <ul>
                    <li><strong>Exercise Search: </strong>Can search for exercises to work desired muscle groups</li>
                    <li><strong>Videos: </strong>Associated videos with each type of exercise</li>
                    <li><strong>Exercise Logger: </strong>Will track your exercise history by inputting the exercise session in the logger</li>
                    <li><strong>History: </strong>Will display your exercise history from all the exercises that you have logged. You must have a logged exercise session for the history page to load.</li>		    
              </ul>
            </td>
        </tr>
        <tr>
              <th>Creators</th>
              <td>
                <ul>
                    <li>Daniel Zhang</li>
                    <li>Min Jang</li>
                    <li>Kevin O'Donnell</li>
                </ul>
              </td>
          </tr>
  </table>     
    </div>
    
</body>
</html>
