<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Workout Confirmation</title>
</head>

<body>
	<h1>Workout Data</h1>
	<div>
		<strong>Length of Workout: </strong><%- time %><br>
		<strong>Exercises done: </strong><%- exercise %><br>
    	<strong>Background Information: </strong><br><%- backgroundInformation %><br>
		<hr>
		<strong>Task Completed at: <%- date%></strong>
		<hr>
  <a href="/index"><u>HOME</u></a>
	</div>
</body>

</html>