<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Possible Exercises</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <a href="/index"><u>HOME</u></a> <h1>Terps Exercise Logger</h1>
        <hr class="hbreak">
        <h2>Workout</h2>
        <hr class="hbreak">
        <br>
    </div>
    <br>
    <br>
    <div class="page">
        <%- table %>
    
    </div>
	
  
</body>
</html>